<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="./resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="./resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>Home page Administrador</title>        
        
        <f:event listener="#{authentication.verifyEmpleadoLogin}" type="preRenderView"></f:event>
    </h:head>

    <h:body>

        <div id="top">
            <img src="./resources/logo.png" alt="logo"></img>
        
            <h:form>
                <h:outputText value="Bievenido, #{employeeHolder.currentEmpleado.nombre}"/>
                <h:commandLink action="#{authentication.logout}">
                    <img src="./resources/exit.png" alt="salir" width="50" height="50"></img>
                </h:commandLink>
            </h:form>
        </div>
        <div id="center">
            <div id="center_left">
                <h:form>
                    <h:dataTable value="#{beanContent.menuOptions}" var="l">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Menu"/>
                            </f:facet>
                            <h:commandLink action="#{beanContent.findLink(l.get(1))}">
                                <h:outputText value="#{l.get(0)}"/>
                            </h:commandLink>
                        </h:column>
                    </h:dataTable>
                </h:form>
            </div>
            <div id="center_center">
                <h:form>
                    <h:panelGrid columns="3">
                        <h:commandLink action="newEmployee">
                            <h:outputText value="Crear nuevo empleado"/>
                        </h:commandLink>
                        <h:commandLink action="editEmployee">
                            <h:outputText value="Editar empleado"/>
                        </h:commandLink>
                        <h:commandLink action="eraseEmployee">
                            <h:outputText value="Eliminar empleado"/>
                        </h:commandLink>
                        <h:commandLink action="findEmployee">
                            <h:outputText value="Consultar empleado"/>
                        </h:commandLink>
                    </h:panelGrid>
                </h:form>
            </div>
        </div>
        <div id="bottom">
            <ui:insert name="bottom">Pie de pagina</ui:insert>
        </div>

    </h:body>

</html>
